@charset "UTF-8";
/*Reseteo*/
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/*INDEX Y ESTILO GENERALIZADO DE LAS PAGINAS*/
/*Encabezado*/
#Logo {
  border-radius: 100%;
}

.navbar {
  background-color: rgb(178, 217, 224);
  font-style: normal;
  font-size: 20px;
  list-style-type: none;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  margin-top: 5px;
  z-index: 1;
}

.encabezadoFotoPrincipal {
  width: 100%;
  padding-bottom: 2px;
}

.PA {
  width: 30%;
}

/*Texto "Sobre mi"*/
article {
  color: white;
  width: 80%;
  margin: 0 auto;
  word-spacing: 1.5px;
  line-height: 1.5;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 3.5vh;
}

li a {
  text-decoration: none;
}

a:hover {
  color: rgb(179, 26, 82);
}

/*Formato de la main page*/
body {
  background-color: rgb(63, 31, 1);
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: 1px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  overflow: auto;
}

/*Galería inicio, con fotos circulares*/
#Galeria {
  background-color: rgb(179, 26, 82);
  color: white;
  padding: 7px;
  margin-bottom: 50px;
}

.galeriaCircular {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.fotoCircularGaleria {
  border-radius: 100%;
  transition: transform 1s;
}

.fotoCircularGaleria:hover {
  transform: scale(1.1);
}

.formulario {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: rgb(178, 217, 224);
  color: rgb(0, 0, 0);
}

#contacto {
  background-color: rgb(63, 31, 1);
}

.contacto {
  background-color: rgb(179, 26, 82);
  color: white;
  padding: 7px;
  font-weight: bold;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}

/*Formato del footer*/
.celeste {
  background-color: rgb(178, 217, 224);
  padding: 20px;
  line-height: 33px;
  font-size: 40px;
  color: rgb(179, 26, 82);
  text-align: center;
}

.celeste a:hover {
  color: rgb(63, 31, 1);
}

.celeste a {
  color: rgb(179, 26, 82);
}

.celeste p {
  font-size: 18px;
}

.body {
  background-color: rgb(63, 31, 1);
}

.encabezado {
  background-color: rgb(63, 31, 1);
}

.navbar {
  background-color: rgb(178, 217, 224);
  color: black;
  padding: 15px;
}

.row {
  background-color: rgb(63, 31, 1);
}

/*PAGINA DE INFORMACION SOBRE LA SESIÓN*/
.infoSesion {
  line-height: 2em;
}

/*GALERIAS DE IMAGENES*/
.headerGalerias {
  background-color: rgb(63, 31, 1);
  align-content: center;
  align-items: center;
  margin-bottom: 0%;
}

.tituloGaleria {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px;
  background-color: rgb(179, 26, 82);
}

.inicioGaleria {
  background-color: white;
  color: rgb(179, 26, 82);
  padding: 20px;
  padding-left: 33px;
  padding-right: 33px;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  left: 0px;
  display: flex;
}

.textoGaleria {
  background-color: rgb(63, 31, 1);
  color: white;
}

/*Galerias de Fotos*/
.galeriaFotos {
  height: 2200px;
  width: 100%;
  display: grid;
  padding: 25px;
  gap: 20px;
}

.galeriaImg {
  border-radius: 7px;
  box-shadow: 0 0 15px rgb(41, 20, 0);
  color: rgba(0, 0, 0, 0);
}

.galeriaImg:hover {
  transform: scale(1.05);
  transition-duration: 2s;
}

.Mat {
  width: 500px;
}

.Fliares {
  width: 600px;
}

/*Galeria de fotos de Recién Nacidos*/
.Rn1 {
  background-image: url(../Imagenes/Rn-H\ \(16\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
  grid-row: 1/2;
}

.Rn2 {
  background-image: url(../Imagenes/Rn-H\ \(3\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 3/4;
  grid-row: 1/2;
}

.Rn3 {
  background-image: url(../Imagenes/Rn-V\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/4;
}

.Rn4 {
  background-image: url(../Imagenes/Rn-H\ \(17\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/3;
}

.Rn5 {
  background-image: url(../Imagenes/Rn-H\ \(7\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 2/3;
  grid-row: 3/4;
}

.Rn6 {
  background-image: url(../Imagenes/Rn-H\ \(16\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 3/4;
  grid-row: 3/4;
}

.Rn7 {
  background-image: url(../Imagenes/Rn-H\ \(8\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
  grid-row: 4/5;
}

.Rn8 {
  background-image: url(../Imagenes/Rn-H\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 3/4;
  grid-row: 4/5;
}

.Rn9 {
  background-image: url(../Imagenes/Rn-H\ \(19\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 5/6;
}

.Rn10 {
  background-image: url(../Imagenes/Rn-H\ \(23\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 2/3;
  grid-row: 5/6;
}

.Rn11 {
  background-image: url(../Imagenes/Rn-V\ \(6\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 3/4;
  grid-row: 5/7;
}

.Rn12 {
  background-image: url(../Imagenes/Rn-H\ \(15\).jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
  grid-row: 6/7;
}

h3 {
  font-style: italic;
  color: rgb(178, 217, 224);
  margin-left: -10px;
}

.celesteGalerias {
  padding: 15px;
}

.tituloFooter {
  font-size: 25px;
  font-weight: 900;
}

/*Galerias de Fotos*/
.galeriaFotos {
  height: 2200px;
  width: 100%;
  padding: 15px;
  gap: 20px;
}

.galeriaImg {
  border-radius: 7px;
  box-shadow: 0 0 15px rgb(41, 20, 0);
  color: rgba(0, 0, 0, 0);
}
.galeriaImg .galeriaImg:hover {
  transform: scale(1.05);
  transition-duration: 2s;
}
.galeriaImg .Rn1 {
  background-image: url(../Imagenes/Rn-H\ \(16\).jpg);
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=Styles.css.map */
